<div class="dummy_page">
  </div>
  <!-- FOOTER START -->
  <div class="footer">
    <div class="contain">
    <div class="col">
      <h1>Company</h1>
      <ul>
        <li>About</li>
        <li>Mission</li>
        <li>Services</li>
        <li>Location</li>
        <li>Get in touch</li>
      </ul>
    </div>
    <div class="col">
      <h1>Products</h1>
      <ul>
        <li>Motor Insurance</li>
        <li>Health Insurance</li>
        <li>Travle Insurance</li>
        <li>Visa Extension</li>
        <li>Medical Malpractice</li>
      </ul>
    </div>
    <div class="col">
      <h1>Help</h1>
      <ul>
        <li>FAQs</li>
        <li>Useful Links</li>
        <li>Emergency Helpline</li>
        <li>Stuck</li>
        <li>Redeem</li>
      </ul>
    </div>
    <div class="col">
      <h1>Resources</h1>
      <ul>
        <li>Webmail</li>
        <li>Redeem code</li>
        <li>Documents</li>
        <li>Site map</li>
        <li>Policy changes</li>
        <li>Government Schemes</li>
      </ul>
    </div>
    <div class="col">
      <h1>Support</h1>
      <ul>
        <li>Contact us</li>
        <li>Web chat</li>
        <li>Open ticket</li>
      </ul>
    </div>
    <div class="col social">
      <h1>Social</h1>
      <ul>
        <li><a href="https://www.facebook.com/" target="_blank"><img src="/assets/facebook-logo.png"  width="32" style="width: 32px ; border-radius:6px; "></a></li>
        <li><a href="https://www.instagram.com/" target="_blank"><img src="/assets/instagram-logo.jpg " width="32" style="width: 32px; border-radius:6px; "></a></li>
        <li><a href="https://www.whatsapp.com/" target="_blank"><img src="/assets/whatsapp-logo.jpg" width="32" style="width: 32px; border-radius:6px;"></a></li>
        <br><br><br><li> <img src="/assets/logo.png"  id="logos"  alt="logo" title="logo"/></li> 
       
    </ul>

    </div>
  <div class="clearfix"></div>
  </div>
  </div>
  <!-- END OF FOOTER -->