<!-- <app-nav-bar></app-nav-bar> -->

<!-- <p>grid works!</p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore tenetur repudiandae possimus eaque porro dolor excepturi. Magni fugiat non temporibus nulla at. Optio nemo reprehenderit eos, omnis ipsum rem. -->
<div class="main-function">
  <div class="back-drop">
    <img src="/assets/back-drops.jpg" id="image3" />
  </div>

  <div class="first-section">
    <div class="products" id="popular">
      Most Popular
      <h6>products</h6>
      <img src="/assets/down-arrow.png" id="image" />
    </div>
    <div class="product" id="individual">Individual products
      <br><img src="/assets/inter.png" id="image2" />
    </div>
    <div class="product" id="Business">Business products
      <br><img src="/assets/business.png" id="image2" />
    </div>
  </div>    
</div>
<!-- <app-footer></app-footer> -->