<!-- <head> -->
<!-- <app-nav-bar></app-nav-bar> -->
<div class="head">
  <img src="/assets/back-drops.jpg" class="image" />

  <div class="header">About Us</div>

  <p>
    Welcome to Al Rajhi Takaful, your trusted insurance partner in Saudi Arabia.
    At Al Rajhi Takaful, we are committed to delivering affordable insurance
    solutions that cater to the unique needs of our customers. As a
    Sharia-compliant insurance company, we provide a wide range of insurance
    products, including health, travel, motor, and more. Our esteemed Board of
    Directors, led by the Chairman, Mr. Pratham Al Jain Sheikh King, guides our
    strategic direction and ensures that we uphold the highest standards of
    professionalism and integrity.
  </p>
  <div class="sub-headings">Vision</div>
  <p>
    Our vision is to be the leading insurance provider, known for our excellence
    in service and commitment to ethical practices.
  </p>
  <div class="sub-headings">Mission</div>
  <p>
    Our mission is to provide reliable insurance coverage that offers peace of
    mind and financial security. We strive to build long-lasting relationships
    with our clients based on trust, transparency, and integrity.
  </p>
  <div class="sub-headings">Why Choose Us</div>

  <h5>Competitive Pricing:</h5>
  <p>
    We offer competitive rates without compromising on the quality of coverage.
  </p>
  <h5>Knowledgeable Experts:</h5>
  <p>
    Our team of knowledgeable experts is always available to answer your
    questions and provide guidance.
  </p>
  <h5>Claims Assistance:</h5>
  <p>
    In the unfortunate event of a claim, our dedicated claims department will
    guide you through the process, ensuring a smooth experience.
  </p>
  <br />
  <h6>
    Today, we continue to uphold the values and principles set forth by our
    founder, providing exceptional insurance solutions to our valued clients.
  </h6>
</div>
<!-- <app-footer></app-footer> -->