<!-- <app-nav-bar></app-nav-bar> -->
<div class="main-function">
  <!-- <app-nav-bar></app-nav-bar> -->
  
  <div class="back-drop">
    <img src="/assets/back-drops.jpg" id="image3" /></div>
    <!-- <div class="magic">Home-page</div> -->
  <div class="first-section">
    <div class="products" id="popular">
      Most Popular
      <h6>products</h6>
      <img src="/assets/down-arrow.png" id="image" />
    </div>
    <div class="product" id="individual">Individual products
      <br><img src="/assets/inter.png" id="image2" />
    </div>
    <div class="product" id="Business">Business products
      <br><img src="/assets/business.png" id="image2" />
    </div>
  </div>
  <div class="title-line">
    DISCOVER OUR EXTENSIVE RANGE OF INSURANCE PRODUCTS
  </div>
  <div class="grid-section">
    <div id="content1" class="common-css">
      <div class="individual-title">Individual</div>
      <br />Motor
    </div>
    <div id="content2" class="common-css">
      <div class="Business-title">Business</div>
      <br />Motor
    </div>
    <div id="content3" class="common-css">
      <div class="Business-title">Business</div>
      <br />Health
    </div>
    <div id="content4" class="common-css">
      <div class="individual-title">Individual</div>
      <br />Travel
    </div>
    <div id="content5" class="common-css">
      <div class="individual-title">Individual</div>
      <br />Medical MalPractice
    </div>
    <div id="content6" class="common-css">
      <div class="individual-title">Individual</div>
      <br />Visa Extension
    </div>
  </div>
  <!-- <app-footer></app-footer> -->
</div>
<!-- <app-footer></app-footer> -->